html, body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
}

#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "Eleanor";   /*Can be any text*/
  src: local("Eleanor"),
  url("../../../public/fonts/eleanor/Eleanor.ttf") format("truetype");
}